{% extends 'upload_service/base.html' %}
{% block upload_active %}active{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
<body>


<form id="myform" action="/upload/" method="post">
{% csrf_token %}
Dataset name: <input type="text" name="DatasetName" id ="DatasetName" ><span class="error"><p id="DatasetName_error"></p></span><br>
Dataset Type:
<select name="Dataset Type">
  <option value="ImageAnnotation">ImageAnnotation</option>
  <option value="VideoAnnotation">VideoAnnotation</option>
  <option value="ObjectDetection">ObjectDetection</option>
</select>
<p>Click Add label button to add labels</p>
<input type="hidden" id="labelField" name="labels" value="xxxxxxxx"><span class="error"><p id="labeldiv_error"></p></span>
</form>




<html>
<head>
    <title>Dataset details</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
</head>

<body>
    <div id="main">
        <input type="button" id="btAdd" value="Add labels" class="bt" /><br />

    </div>
</body>

<script>
    $(document).ready(function() {

        var iCnt = 0;
        // CREATE A "DIV" ELEMENT AND DESIGN IT USING jQuery ".css()" CLASS.
        var container = $(document.createElement('div')).css({
            padding: '5px', margin: '20px', width: '300px', border: '1px dashed',
            borderTopColor: '#999', borderBottomColor: '#999',
            borderLeftColor: '#999', borderRightColor: '#999'
        });

        $('#btAdd').click(function() {


                iCnt = iCnt + 1;
                console.log(iCnt)
                // ADD TEXTBOX.
                $(container).append('<div id ="labeldiv"><input type=text class="input" id=tb' + iCnt + ' ' +
                    'placeholder="Insert label here' + '" /><a href="#" class="remove_field">Remove</a></div>');
                // SHOW SUBMIT BUTTON IF ATLEAST "1" ELEMENT HAS BEEN CREATED.
                if (iCnt == 1) {
                    var divSubmit = $(document.createElement('div'));
                    $(divSubmit).append('<input type=button class="bt"' +
                        'onclick="submitForm()"' +
                            'id=btSubmit value=Submit />');
                }

                // ADD BOTH THE DIV ELEMENTS TO THE "main" CONTAINER.
                $('#main').after(container, divSubmit);
        });

        $(container).on("click",".remove_field", function(e){
        e.preventDefault();
        $(this).parent('div').remove();
        iCnt--;
        if (iCnt == 0) { 
                $('#btSubmit').remove(); 
            }
    })

    });
    function removeWarning() {
    // console.log(this.id+ "_error");        
    document.getElementById(this.id + "_error").innerHTML = "";
    }

    document.getElementById("DatasetName").onkeyup = removeWarning;
    var divValue, values = '';

    function submitForm() {
        var labels = []
        var submit = true;
        console.log(labels)
        $('.input').each(function(i, obj) {
            labels.push($(obj).val())
            if ($(obj).val()=='Insert label here'||$(obj).val()=='')
            {   
                console.log($(obj).val());
                labelError = "Please enter a label or remove the extra label field";
                document.getElementById("labeldiv_error").innerHTML = labelError;
                submit = false;
            }
        console.log(labels)
    });
        document.getElementById("labelField").value = labels

        var x = document.forms["myform"]["DatasetName"].value;

        if (x == null || x == "") {
            nameError = "Please enter database name";
            document.getElementById("DatasetName_error").innerHTML = nameError;
            submit = false;
        }
        console.log(submit)
        if (submit ==false)
            return submit;
        else
            $("#myform").submit();
    }
</script>

</body>
</html>


{% endblock %}
