{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title>{% block title %}Simple is Better Than Complex{% endblock %}</title> -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'objectdetection/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/landing"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block imagetype_active %}{% endblock %}">
                <a href="/imageannotation"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp;Imageannotation</a></li>
                <li class="{% block videotype_active %}{% endblock %}"><a href="/videoannotation"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&nbsp; Videoannotation</a></li>
                <li class="{% block objecttype_active %}{% endblock %}">
                <a href="/objectdetection"><span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>&nbsp;ObjectDetection</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/upload">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>&nbsp; Upload Dataset
                    </a>
                </li>
                <li>
                    <a href="/upload/uploaded/datasets">
                        <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>&nbsp; View your datasets
                    </a>
                </li>
                <li>
                    <a href="/download">
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>&nbsp; Download Results
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout ({{user.username}})
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>

    <link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
    <style type="text/css">
      .page-header {
        margin-top: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/cropper.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>